.canvasImage {
  display: block;
  height: 100%;
  width: 100%;
  cursor: move;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.resize-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  z-index: 2;
}

/* Corners */
.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}
.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}
.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}
.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

/* Edges */
.left {
  top: 50%;
  left: -5px;
  width: 10px;
  height: 100%;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.right {
  top: 50%;
  right: -5px;
  width: 10px;
  height: 100%;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.top {
  left: 50%;
  top: -5px;
  width: 100%;
  height: 10px;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.bottom {
  left: 50%;
  bottom: -5px;
  width: 100%;
  height: 10px;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.rotate-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #000;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
}
